.DS_Store
/.build
/.deriveddata
/dist
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
